body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://w.forfun.com/fetch/60/608102df0979afde0ff10b6fb7073a73.jpeg) bottom no-repeat;
    background-size: cover;
}

h1 {
    color: #fbff00;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #fff;
    padding: 50px 50px 50px;
}

.news:nth-child(odd) {
    background-color: aqua;
}

.news:nth-of-type(0n+1)::before {
    position: relative;
    left: 750;
    top: 50;
    background-color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    content: "NEW";
}

.news:nth-of-type(0n+2)::before {
    position: relative;
    left: 750;
    top: 50;
    background-color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    content: "NEW";
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 400px;
    object-fit: fill;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}